{% extends "base.html" %}

{% block title %}Delete Medicine{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="card shadow-sm">

        <div class="card-header bg-danger text-white">
            <h4 class="mb-0">Delete Medicine</h4>
        </div>

        <div class="card-body">

            <p class="fs-5">
                Are you sure you want to delete this medicine?
            </p>

            <table class="table table-bordered">

                <tr>
                    <th>Medicine ID</th>
                    <td>{{ medicine.medicine_id }}</td>
                </tr>

                <tr>
                    <th>Name</th>
                    <td>{{ medicine.name }}</td>
                </tr>

                <tr>
                    <th>Category</th>
                    <td>{{ medicine.category }}</td>
                </tr>

                <tr>
                    <th>Quantity</th>
                    <td>{{ medicine.quantity }}</td>
                </tr>

            </table>

            <form method="POST">

                {% csrf_token %}

                <button type="submit" class="btn btn-danger">
                    Delete Medicine
                </button>

                <a href="{% url 'pharmacy' %}" class="btn btn-secondary">
                    Cancel
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}