{% extends "base.html" %}

{% block title %}
Patients
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Patients</h2>

        <a href="#" class="btn btn-primary">
            + Add Patient
        </a>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">

            <h4>Patients Module Connected Successfully ✅</h4>

            <p>
                Now we will build the Patient Management System.
            </p>

        </div>
    </div>

</div>

{% endblock %}