{% extends "base.html" %}

{% block title %}
Patients
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2>Patient Management</h2>
<a href="{% url 'add_patient' %}" class="btn btn-primary">
        
            + Add Patient
        </a>

    </div>

    <div class="card shadow-sm">

        <div class="card-body">

            <table class="table table-hover">

                <thead>

                    <tr>

                        <th>UHID</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Phone</th>
                        <th>Status</th>

                    </tr>

                </thead>

                <tbody>

                {% for patient in patients %}

                    <tr>

                        <td>{{ patient.uhid }}</td>

                        <td>{{ patient.first_name }} {{ patient.last_name }}</td>

                        <td>{{ patient.gender }}</td>

                        <td>{{ patient.age }}</td>

                        <td>{{ patient.phone }}</td>

                        <td>{{ patient.status }}</td>

                    </tr>

                {% empty %}

                    <tr>

                        <td colspan="6" class="text-center">

                            No Patients Found

                        </td>

                    </tr>

                {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

{% endblock %}